@media screen and (min-width: 360px) {
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: rgb(15, 139, 15);
  }

  a {
    font-size: 18px;
    text-decoration: none;
  }

  .wwa{
    text-align: center;
    background-color: rgb(255, 255, 155);
    color: rgb(15, 139, 15);

  p {
    font-size: 12px;
    text-align: left;
    color: rgb(15, 139, 15);
  }

  .m {

  footer {
	  text-align: center;
  }
}
