@media screen and (max-width: 1920px) {
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    color: rgb(15, 139, 15);

  }

  a {
    font-size: 24px;
    text-decoration: none;
  }

  .wwa{
    text-align: center;
    background-color: rgb(255, 255, 155);
    color: rgb(15, 139, 15);
  }

  .iframe {
    border: 0;
    text-align: center;
  }

  p {
    font-size: 18px;
    text-align: left;
    color: rgb(15, 139, 15);
  }

  footer {
	  text-align: center;
  }
}
