@media screen and (max-width: 1920px) {
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    color: rgb(58, 139, 58);

  }

  a {
    font-size: 24px;
    text-decoration: none;
  }

  .wwa, .wctof, .wwh, .op {
    text-align: center;
    background-color: rgb(255, 255, 155);
    color: rgb(58, 139, 58);
  }

  p {
    font-size: 18px;
    text-align: left;
    color: rgb(58, 139, 58);
  }

<<<<<<< HEAD
  .wofi {
    text-align: center;
    background-color: rgb(255, 255, 155);
    color: rgb(58, 139, 58);
  }

  .wwh {
    text-align: center;
    background-color: rgb(255, 255, 155);
    color: rgb(58, 139, 58);
  }

  .m {
    text-align: center;
    background-color: rgb(255, 255, 155);
    color: rgb(58, 139, 58);
  }

  .fp {
    text-align: center;
    background-color: rgb(255, 255, 155);
    color: rgb(58, 139, 58);
  }

=======
>>>>>>> master
  footer {
	  text-align: center;
  }
}
