@media screen and (max-width: 1920px) {
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    color: rgb(58, 139, 58);

  }

  a {
    font-size: 24px;
    text-decoration: none;
  }

  .wwa{
    text-align: center;
    background-color: rgb(255, 255, 155);
    color: rgb(58, 139, 58);
  }

  p {
    font-size: 18px;
    text-align: left;
    color: rgb(58, 139, 58);
  }

  footer {
	  text-align: center;
  }
}
